*{
    margin: 0;
    padding: 0;
}

body {
    background-color: azure;
}

.navbar {
    background-color:black;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: beige;
    font-size: medium;
    
    
}

.search{
    height: 2rem;
    border-radius: 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.productall {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(60, 57, 57, 0.877);
    color: white;
    height: 40px;
}
a{
    color: aliceblue;
    text-underline-position: inherit;
}

/* hiro section */
.hiro{
    background-image: url(4amazon.jpg);
    height: 400px;
    background-size: cover;
}
/* shop boxes */
.shop-box{
    display: flex;/* sare box ko aek line me kare dega*/
    /* flex-wrap: wrap;isse box pahle 4 phir fir bad me char aese ayege */
    justify-content: space-evenly;/*or ye sare box ke bhitch me thodi gap dega*/
    background-color: rgb(241, 241, 106);
}
.box{
    height: 400px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.box-image{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box2-image{
    height: 300px;
}
.box3-image{
    height: 300px;
}
.box4-image{
    height: 300px;
}
.box-contain1{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 15px;
}
.box-contain2{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 15px;
}
.box-contain3{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 15px;
}
.box-contain4{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 15px;
}
.pannal{
    background-color: #37475A;
    color: white;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin-top: 15px;/*aek bolk ne bija blok vache space apva mate*/
}
.pannal2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul a{/*ul a aetle a tag par kam karvu*/
    display: block;/*aek line me jaye ga sara contant*/
    font-size: 0.8rem;
    margin-top: 10px;
    color: #dddddd;
}
ul{
    margin-top: 20px;
}

.lastpan{
    background-color: rgb(45, 42, 42);
    color: aliceblue;
    display: flex;
    justify-content: center;
    height: 2rem;
}
